<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
        <h1>The Silliest of Stories, the Maddest of Libs</h1>
        <form id="form" action="/funny_story">
            <div class="form-group">
                <label class="form-control" for="name">
                    Enter A Name:
                </label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label class="form-control" for="gender">
                    Select Gender:
                </label>
                <input type="radio" class="form-control" id="male" name="gender" value="male">Male</input>
                <input type="radio" class="form-control" id="female" name="gender" value="female">Female</input>
            </div>
            <div class="form-group">
                <label class="form-control" for="city">
                    Enter City:
                </label>
                <input type="text" class="form-control" id="city" name="city">
            </div>
            <div class="form-group">
                <label class="form-control" for="state">
                    Enter State:
                </label>
                <input type="text" class="form-control" id="state" name="state">
            </div>
            <div class="form-group">
                <label class="form-control" for="sport">
                    Enter Sport:
                </label>
                <input type="text" class="form-control" id="sport" name="sport">
            </div>
            <div class="form-group">
                <label class="form-control" for="verb1">
                    Enter First Verb:
                </label>
                <input type="text" class="form-control" id="verb1" name="verb1">
            </div>
            <div class="form-group">
                <label class="form-control" for="verb2">
                    Enter Second Verb:
                </label>
                <input type="text" class="form-control" id="verb2" name="verb2">
            </div>
            <div class="form-group">
                <label class="form-control" for="feeling">
                    Enter A Past Tense Feeling:
                </label>
                <input type="text" class="form-control" id="feeling" name="feeling">
            </div>
            <div class="form-group">
                <label class="form-control" for="family1">
                    Enter A Family-Member:
                </label>
                <input type="text" class="form-control" id="family1" name="family1">
            </div>
            <div class="form-group">
                <label class="form-control" for="family2">
                    Enter Another Family-Member:
                </label>
                <input type="text" class="form-control" id="family2" name="family2">
            </div>
            <div class="form-group">
                <label class="form-control" for="place">
                    Enter A Place:
                </label>
                <input type="text" class="form-control" id="place" name="place">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
  </body>
</html>
